body {
    background-color: rgb(101, 146, 92);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(24, 23, 21);

}

alt {
    color: rgb(48, 43, 38);
    margin-left: 20px;
}

iframe {
    background-color: rgb(58, 54, 49);
    padding: 0.5%
}

video {
    background-color: rgb(58, 54, 49);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;

}

audio {

    background-color: rgb(58, 54, 49);
    padding: 0.5%;
    margin-left: 20px;

}